{% extends 'builders/base.html' %}
{% set active_page = "Alerts" %}
{% block title %}End Stat - Alerts{% endblock %}


{% block headScripts %}
{% endblock %}

{% block content %}
    <div class="d-flex flex-column" id="content-wrapper">
        <div id="content">
            {% include 'builders/topNav.html' %}
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12 col-xl-8 offset-xl-2">
                        {% for alert,details in alerts.items() %}
                            <div class="card shadow border-start-primary py-2 bg-{{details[1]}}" {% if details[3] %} style="opacity: 0.7;" {% endif %}>
                                <div class="card-body">
                                    <div class="row align-items-center no-gutters">
                                        <div class="col me-2">
                                            <div class="text-uppercase text-light fw-bold text-s mb-1"><span>{{details[0]}}</span></div>
                                            <div class="text-light fw-bold h4 mb-0"><span>{{alert}}</span></div>
                                        </div>
                                        <div class="col-auto"><i class="fas fa-{{details[2]}} fa-2x text-gray-300"></i></div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        {% include 'builders/footer.html' %}
    </div>
{% endblock %}

{% block bodyScripts %}   
{% endblock %} 