{% extends 'builders/base.html' %}
{% set active_page = "Profile Settings" %}
{% block title %}End Stat - Profile Settings{% endblock %}


{% block headScripts %}
{% endblock %}

{% block content %}
    <div class="d-flex flex-column" id="content-wrapper">
        <div id="content">
            {% include 'builders/topNav.html' %}
            <div class="container-fluid">
                <div class="row mb-3">
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col">
                                <div class="card shadow mb-3">
                                    <div class="card-header py-3">
                                        <p class="text-primary m-0 fw-bold">User Settings</p>
                                    </div>
                                    <div class="card-body">
                                        <form method="post">
                                            <div class="row">
                                                <div class="col">
                                                    <div class="mb-3"><label class="form-label" for="username"><strong>First Name</strong></label><input class="form-control" type="text" id="username" placeholder="{{ currentFName }}" name="first_name"></div>
                                                    <div class="mb-3"><label class="form-label" for="timeZone"><strong>Time Zone ~ <a target="_blank" href="https://en.wikipedia.org/wiki/List_of_tz_database_time_zones">Codes</a></strong></label><input class="form-control" type="text" id="timeZone" placeholder="{{ currentTZone }}" name="time_zone"></div>
                                                </div>
                                                <div class="col">
                                                    <div class="mb-3"><label class="form-label" for="email"><strong>Email Address</strong></label><input class="form-control" type="email" id="email" placeholder="{{ currentEmail }}" name="email"></div>
                                                </div>
                                            </div>
                                            <div class="mb-3"><button class="btn btn-primary btn-sm" type="submit" name="btn" value="user">Save Settings</button></div>
                                        </form>
                                        {% if errorUser %}
                                            <div class="text-center">        
                                                <p class="text-dark mb-4">{{ errorUser }}</p>  
                                            </div>  
                                        {% endif %}
                                    </div>
                                </div>

                                <div class="card shadow mb-3">
                                    <div class="card-header py-3">
                                        <p class="text-primary m-0 fw-bold">Password Settings</p>
                                    </div>
                                    <div class="card-body">
                                        <form method="post">
                                            <div class="mb-3"><label class="form-label" for="old_password"><strong>Current Password</strong></label><input class="form-control" type="password" id="exampleInputPassword" placeholder="Current Password" name="current_password" required></div>
                                            <div class="row">
                                                <div class="col">
                                                    <div class="mb-3"><label class="form-label" for="password"><strong>New Password</strong></label><input class="form-control" type="password" id="exampleInputPassword" placeholder="New Password" name="password" required></div>
                                                </div>
                                                <div class="col">
                                                    <div class="mb-3"><label class="form-label" for="password_repeat"><strong>Repeat Password</strong></label><input class="form-control" type="password" id="exampleInputPassword" placeholder="New Password" name="password_repeat" required></div>
                                                </div>
                                            </div>
                                            <div class="mb-3"><button class="btn btn-primary btn-sm" type="submit" name="btn" value="password">Update Password</button></div>
                                        </form>
                                        <form method="post">
                                            <div class="mb-3">
                                                {% set class = "primary" %}
                                                {% set text = "Enable" %}
                                                {% if totpEnabled %}
                                                    {% set class = "danger" %}
                                                    {% set text = "Disable" %}
                                                {% endif %}       
                                                <button class="btn btn-{{ class }} btn-sm" type="submit" name="btn" value="totp">{{ text }} Multi-Factor Authentication</button>
                                            </div>
                                        </form>
                                        {% if errorPass %}
                                            <div class="text-center">
                                                <p class="text-dark mb-4">{{ errorPass }}</p>
                                            </div>
                                        {% endif %}
                                        {% if totpCode %}
                                            <div class="text-center">
                                                <p class="text-dark mb-4">Use the QR code or secret key to add this account to your authenticator app. You will not see this key/qr code again.</p>
                                                <p class="text-dark mb-4">Do NOT refresh this page using your browser reload button. It will remove multi-factor authentication from your account. Use the menu button instead.</p>
                                                <img src="{{ qrcode(qrString) }}">
                                                <p>{{totpCode}}</p>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>

                            <div class="col">
                                <div class="card shadow mb-3">
                                    <div class="card-header py-3">
                                        <p class="text-primary m-0 fw-bold">Notification Settings</p>
                                    </div>
                                    <div class="card-body">
                                        <form method="post">
                                            <div class="row">
                                                <h5 class="text-dark mb-4">Agents:</h5>
                                                <div class="custom-control custom-checkbox small">
                                                    <div class="form-check"><input class="form-check-input custom-control-input" type="checkbox" id="chkEmail" name="chkEmail" {{'checked' if notifDetails['email_enabled'] else ''}}/><label class="form-check-label custom-control-label" for="chkEmail">Email</label></div>
                                                    <div class="form-check"><input class="form-check-input custom-control-input" type="checkbox" id="chkDiscord" name="chkDiscord" {{'checked' if notifDetails['discord_enabled'] else ''}}/><label class="form-check-label custom-control-label" for="chkDiscord">Discord</label></div>
                                                </div>
                                                <div class="col">
                                                    <br>
                                                    <div class="mb-3"><label class="form-label" for="notifEmail"><strong>Notification Email</strong></label><input class="form-control" type="email" id="notifEmail" placeholder="{{ notifDetails['email'] }}" name="notifEmail"></div>
                                                    <div class="mb-3"><label class="form-label" for="notifDiscord"><strong>Discord Webhook</strong></label><input class="form-control" type="url" id="notifDiscord" placeholder="{{ notifDetails['discord'] }}" name="notifDiscord"></div>
                                                </div>
                                            </div>
                                            <div class="mb-3"><button class="btn btn-primary btn-sm" type="submit" name="btn" value="notif">Save Settings</button></div>
                                        </form>
                                        {% if errorNotif %}
                                            <div class="text-center">        
                                                <p class="text-dark mb-4">{{ errorNotif }}</p>  
                                            </div>  
                                        {% endif %}
                                    </div>
                                </div>

                                <div class="card shadow mb-3">
                                    <div class="card-header py-3">
                                        <p class="text-primary m-0 fw-bold">Dangerous</p>
                                    </div>
                                    <div class="card-body">
                                        <form method="post">
                                            <a class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#deleteUserModal">Delete User</a>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Delete User Modal -->
            <div class="modal fade" id="deleteUserModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="deleteUserModal">Delete User</h5>
                        </div>
                        <div class="modal-body">
                            <form method="post" id="deleteUserForm">
                                <ul class="list-group mb-3">
                                    <li class="list-group-item active" aria-current="true">THE DATA LISTED BELOW WILL BE DELETED</li>
                                    <li class="list-group-item">All Account Details</li>
                                    <li class="list-group-item">All Websites You Have Added</li>
                                    <li class="list-group-item">All Scan Logs Of Those Websites</li>
                                </ul>
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                <button type="submit" class="btn btn-danger" name="btn" value="deleteUser">Delete</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% include 'builders/footer.html' %}
    </div>
{% endblock %}

{% block bodyScripts %}   
{% endblock %} 