{% extends 'base.html' %}
{% set active_page = "Websites" %}
{% block title %}End Stat - Websites{% endblock %}

{% block headScripts %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.all.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='fonts/fontawesome5-overrides.min.css') }}">
{% endblock %}

{% block content %}  
    <div class="d-flex flex-column" id="content-wrapper">
        <div id="content">
            
            {% include 'topNav.html' %}

            <div class="container-fluid">
                <div class="card shadow">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="text-md dataTables_filter" id="dataTable_filter"><label class="form-label"><input type="search" class="form-control form-control-sm" aria-controls="dataTable" placeholder="Search"></label></div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3 text-md-end"><a class="btn btn-primary btn-sm" href="{{ url_for('websites.addWebsite') }}"><i class="fas fa-add fa-sm text-white-50"></i>Add Website</a></div>
                            </div>
                        </div>
                        <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
                            <table class="table my-0" id="dataTable">
                                <thead>
                                    <tr>
                                        <th>Domain</th>
                                        <th>Protocol</th>
                                        <th>Status</th>
                                        <th>More Info</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for domain,details in websites.items() %}
                                    <tr>
                                        <td>{{domain}}</td>
                                        <td> {{details[0]}}
                                            {% if details[0] == 'https' %}  
                                                <i class="fa fa-lock"></i>
                                            {% endif %}
                                        </td>
                                        <td>Ok</td>
                                        <td><a class="btn btn-primary btn-sm" href="{{ url_for('websites.viewWebsite', websiteId=details[1]) }}"><i class="fas fa-add fa-sm text-white-50"></i>View</a></td>                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="row">
                            <div class="col-md-6 align-self-center">
                                <p id="dataTable_info" class="dataTables_info" role="status" aria-live="polite">Showing {{websites|length}} website/s</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
        {% include 'footer.html' %}
    </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
{% endblock %}

{% block bodyScripts %}
    <script src="{{ url_for('static', filename='js/bs-init.js') }}"></script>
{% endblock %}   